.gallery div {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #364d79;
}

.gallery button {
  background: #000 !important;
  width: 50px !important;
}

.gallery img {
  height: 500px;
  margin: 0 auto;
}

.content {
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.carousel {
  height: 250px;
  width: 500px;
}

.map {
  height: 480px;
  width: 500px;
  margin: 0 auto;
}

.author-page h3 {
  font-size: 16px;
  font-style: italic;
}

.author-page .ant-timeline.ant-timeline-alternate .ant-timeline-item-left .ant-timeline-item-content {
  width: 30%;
}

.author-page .ant-timeline.ant-timeline-alternate .ant-timeline-item-content {
  font-size: 14px;
}

.author-page .ant-timeline.ant-timeline-alternate .ant-timeline-item-right .ant-timeline-item-content {
  left: 18%;
  width: 30%;
}

.masterpieces {
  margin: 0 auto;
  max-width: 400px;
  text-align: left;
}

@media (max-width: 500px) {
  .gallery div,
  .carousel,
  .map,
  .gallery img {
    width: 320px;
    height: 320px;
  }
}
