.writers-about {
  font-size: 18px;
}

.author-of-the-day {
  text-align: center;
}

.author-of-the-day-img {
  text-align: center;
}

.author-of-the-day-img img {
  height: 100%;
  margin: 0;
}

.life-dates {
  font-size: 1.2vw;
  color: #808080;
}

.life-dates + p {
  font-size: 1.5vw;
}

h3 {
  margin-top: 20px;
  font-size: 2vw;
}

.content {
  padding: 0 50px;
}

.content-wrapper {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
