.list-of-writers {
  margin-left: 10px;
  margin-top: 10px;
}

.search {
  width: 100%;
  padding-left: 10px;
  height: 40px;
}

.search:focus {
  border-color: rgba(0, 89, 255, 0.5);
}

.writer-listPage-block {
  padding: 10px;
}

.writer-listPage-block img {
  width: auto;
  height: 200px;
  margin-bottom: 15px;
}

.single-writer {
  width: 100%;
  text-decoration: none;
  color: #000;
}

.writer-listPage-block h5 {
  height: 32px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writer-listPage-block p {
  text-align: center;
}

.writer-listPage-block div {
  color: #808080;
}

.writer-listPage-block:hover,
.single-writer:hover {
  transition: 0.4s;
  color: #000;
  background-color: rgba(149, 149, 255, 0.171);
}

.writers-list {
  margin-top: 15px;
  display: inline-block;
  width: 100%;
}

.content {
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.writer-description {
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  margin: 0; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  margin: 0;
}

.writer-birth-place {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.writers-list .ant-row {
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .content-wrapper {
    padding: 15px;
  }

  img {
    margin-bottom: 10px;
  }

  .content {
    padding: 0 20px;
  }

  .writer-listPage-block p {
    text-align: center;
  }

  .writer-birth-place {
    /* height: 30px; */
    /* font-size: 0.7rem; */
    /* overflow: hidden;
    text-overflow: ellipsis; */
    width: 100%;
    /* white-space: nowrap; */
  }
}

@media (max-width: 565px) {
  .writer-birth-place {
    max-height: 70px;
    min-height: 20px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .writers-about {
    font-size: 3vw;
  }

  .content {
    padding: 0;
  }
}
